<h1>Add a Collaborator To Your Private Wiki</h1>
<div class="col-md-8">
  <%= form_for @collaborator do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.submit "Add Collaborator", class: 'btn btn-success' %>
      <%= f.submit "Delete Collaborator", class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this collaborator?' } %>
    </div>
    <% end %>
  </div>
